# IntelliJ
.idea/*
!.idea/inspectionProfiles/
!.idea/dictionaries/
!.idea/codeStyles/
!.idea/modules.xml
!.idea/*.iml
!.idea/README.md

target/
**/*.rs.bk
*.pk
*.sk
*.raw_keypairs
flamegraph.svg
perf.data*
*.tar.gz
/bin
genesis.ssz
